body{
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 10px;
     
}

nav {
    flex: 1;
    text-align: center;
    font-family: 'Comfortaa';
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 70px;
    position: relative;
}

.active a{
    color: #64dfdf;
}

ul li::after{
    content: '';
    width: 0px;
    height: 4px;
    position:absolute;
    background: #64dfdf;
    left: 2px;
    bottom: -4px;
    transition: 1s;
}

.active:hover::after{
    width: 0px;
}

ul li:hover::after{
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    font-size: 28px;
    color: #3a0ca3;
    font-family: 'Comfortaa', cursive;
}

nav ul li a:hover {
    color: #64dfdf;
}

.logo {
    width: 500px;
    height: 400px;
}

.positio_nav{
    position: absolute;
    left: 220px;
}

.group1{
    padding-top: 700px;
}

.group2{
    margin-top: 300px;
    margin-bottom: 400px;
}

.button{
    display: inline-block;
    padding: 20px 40px;
    color: #7400B8;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 40px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Comfortaa';
}
.button:hover{
    color: #7400B8;
    background: #80FFDB;
    box-shadow: 0 0 5px #80FFDB, 0 0 20px #80FFDB, 0 0 40px #80FFDB ;
}

.button{
    margin-bottom: 300px;
}

.position-button{
    text-align: center;
}