body{
    margin: 0;
    padding: 0; 
    background-image: linear-gradient(180deg,#72efdd, #72efdd, #461891, #0b013f);
    
}

.illustration1{
    text-align: center;
    
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 10px;
     
}

nav {
    flex: 1;
    text-align: right;
    font-family: 'Comfortaa';
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 70px;
    position: relative;
}

.active a{
    color: aquamarine;
    
}

ul li::after{
    content: '';
    width: 0px;
    height: 4px;
    position:absolute;
    background: aquamarine;
    left: 2px;
    bottom: -4px;
    transition: 1s;
}

.active:hover::after{
    width: 0px;
}

ul li:hover::after{
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-family: 'Comfortaa', cursive;
}

nav ul li a:hover {
    color: aquamarine;
}

.logo {
    width: 500px;
    height: 400px;
}

.positio_nav{
    position: absolute;
    left: 220px;
}

.button{
    display: inline-block;
    padding: 20px 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 40px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Comfortaa';
}
.button:hover{
    color: #80FFDB;
    background: #7400B8;
    box-shadow: 0 0 5px #7400B8, 0 0 20px #7400B8, 0 0 40px #7400B8 ;
}

.button{
    margin-top: 500px;
}

.position-button{
    text-align: center;
}

.info{
    margin-top: 500px;
    margin-bottom: 500px;
}

.button2{
    display: inline-block;
    padding: 20px 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 40px;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Comfortaa';
}
.button2:hover{
    color: #7400B8;
    background: #80FFDB;
    box-shadow: 0 0 5px #80FFDB, 0 0 20px #80FFDB, 0 0 40px #80FFDB ;
}

.button2{
    margin-bottom: 500px;
}

.post{
    margin-left: 300px;
}